.col-md-3{
	padding-left:0;
	padding-right:0;
}

.navbar-brand{
	color:#000;
	font-weight:700;
}

.navbar-header a{
	font-size: 40px;
}
.navbar-nav li a{
	color:gray;
}
.nav li a{
	text-transform: capitalize;
}

.navbar-form{
	float:left;
}

.nav-sign{
	float:left;
	margin:5px 0 0 100px;
	width:120px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#6088e3;
	border:1px solid #6088e3;
	&:hover{
		background: #6088e3;
		color:#fff;
		transition: 1s;
	}
}
.icon{
	font-family:"iconfont";
	font-size:30px;
}
.banner{
	width:100%;
	img{
		width:100%;
		height: auto;
	}
}

.aside_one{
	line-height:60px;
	text-align:center;
	color:#fff;
	font-size:22px;
	background:#ad1625;
}

.today{
	line-height:60px;
}

.aside_week{
	height:400px;
	// border:1px solid #000;
	p{
		font-size: 26px;
		padding-top:30px;
		padding-left:15px;
	}
}

.week{
	background:#dae1f3;
	height:400px;
	// padding-bottom:40px;
	div{
		width:100%;
		img{
			width:100%;
			height: auto;
		}
	}
	p{
		padding-top:20px;
		padding-left:15px;
		font-size: 20px;
	}
	h5{
		padding-left:15px;

	}
}
.inside{
	background:#264a60;
	p{
		color:#fff;
	}
}
